:root {
  --gray: rgba(0,0,0,0.75);
  --light-rule: 1px solid var(--gray);
  --blue: #0300FE;
  --yellow: #FEFF0B;
  --black: rgba(0,0,0,0.9);
  --condensed: 'IBM Plex Sans Condensed', 'Avenir Next Condensed', 'Open Sans Condensed', sans-serif;
  --mono: 'IBM Plex Mono', Inconsolata, 'Courier New', monospace;
  --serif: 'IBM Plex Serif', 'Baskerville', serif;
  --copy: 'IBM Plex Sans', 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font: normal 400 1.175em/1 var(--copy);
}
*, *:before, *:after { box-sizing: border-box }

html {width:100%;height:100%;}
html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, div, main, article, section, label, nav li { margin: 0; padding: 0;}




       img { max-width:100%;}
    figure { margin:1em 0 1em var(--gutter--); padding:calc(var(--gutter) / 2); }
figcaption { font-style:italic; padding:1em 0 0;}

sup, abbr { font-variant:small-caps; text-transform:lowercase; }
figcaption, sup, nav ul { font-size:75% }

iframe { border:none;width:100%;height:50vh; }

ul:not(.plain),
ol, dd { margin: 0.5em 0; padding: 0 0 0 1em; }
ul     { list-style: none; }


ul:not(.plain) > li:not(.nested):before,
dt:before { 
  content: '\22C4';
  margin-left: -1em; padding:0 0.5em 0 0;
}

    dt { margin: 1em 0.75em 0.5em }
li, dd { margin: 0.35em 0; line-height:1.25 }

dd, 
ul:not(.plain) ul {border-left: 1px solid var(--gray);}
ul:not(.plain) ul { margin:1em -0.75em; padding:0 0 0 1.75em}
header nav ul, aside nav ul {
  text-transform: uppercase;
  display: flex; justify-content: space-around; flex-wrap: wrap;
}

.half    { width:50%; }
.break   { display: block; margin:0.5em;}
.columns { columns: 22.5em auto;column-gap: 2rem;column-rule: var(--light-rule);}
.left    { float:left; margin-right:var(--gutter);}
.right   { float:right;}
.group:after { content: "";clear: both; display: table;}

.grid {
  background-size: 1vw 1vw;
  background-position: 0 100%;
  background-attachment:fixed;
  background-image: linear-gradient(270deg, rgba(0,0,0,0) calc(100% - 1px), #eee),
                    linear-gradient(180deg, rgba(0,0,0,0) calc(100% - 1px), #eee);
}


strong, dt { font-weight: 600; opacity: 0.9;}

h1, h2, h3, h5, h6, abbr { font-size:1em;font-weight: 300;font-family: var(--condensed); text-decoration:none; }

          p { line-height:1.375;margin: 0.75em 0; }
section > p { max-width:65ch;}
  li, dd, p { letter-spacing:0.025em;}

mark { 
  padding:0 0.25em; box-decoration-break: clone;-webkit-box-decoration-break: clone;
  background: linear-gradient(rgba(0,0,0,0.035), rgba(0,0,0,0.05))
}

code { 
  font-family: var(--mono); font-size:85%; letter-spacing:-0.025em; overflow-wrap:break-word;
  color:var(--blue);
}

q,blockquote { font-style:italic; font-family:var(--serif) }
q:before     { content: '“' }
q:after      { content: '”' }
hr { border-top: var(--light-rule); border-width:1px 0 0;}
a[tag] {text-decoration:underline;}
a[href], button, *[onclick] {cursor:pointer;}
a[href], *:not(button)[onclick] {
  text-decoration:none;
  color: var(--gray); background: 50% 85% / 100% 0.125em no-repeat linear-gradient(var(--yellow), var(--yellow));
  transition:background-size 0.25s;
}
a:hover { background-size:100% 100%;color:var(--black);}



mark::before,
mark::after  { display:none }
mark::before { content: " [highlight start] " }
mark::after  { content: " [highlight end] "  }

meter                                     { width:100%;height:2em;border:1px solid;}
meter::-webkit-meter-bar                  { background: #FFF }
meter::-webkit-meter-optimum-value        { background: linear-gradient(var(--gray), var(--gray)) }
meter::-webkit-meter-suboptimum-value     { background: linear-gradient(var(--blue), var(--blue)) }
meter::-webkit-meter-even-less-good-value { background: linear-gradient(var(--yellow), var(--yellow)) }

button {
  font-size: 1em;
  border-radius: 0.25em;
  padding:0.125em 0.25em;
  color:#fff;
  box-shadow: -1px -1px rgba(0,0,0,0.1);
  background: radial-gradient(var(--gray), rgba(0,0,0,1));
}


svg text {font-family:var(--copy);}


*[contenteditable]:hover {
  box-shadow: 0 0 0.5em 0.125em rgba(255,255,255,0.25);
}


body.editing main:focus-within { background-color:#EEE }
body.editing aside {background-color: var(--blue);}
*[contenteditable]:hover {
  outline: 1px dashed var(--blue);
}
*[contenteditable]:focus {
  outline: none;
  background-color:#fff;
  color:#000;
  box-shadow: 0 0 0 1rem rgba(255,255,255,1);
}