<article>
  <style type="text/css" media="screen">
    html, body {overflow:hidden;}
    
    body {position:relative;}
    article {position: relative;z-index:-1;}
    line {
      stroke: #000;
      stroke-opacity: 0.025;
      stroke-width: 100;
      transition: stroke-width 0.25s;
    }

    svg {
      top: 0;
      height: 100vh;
      width: 102vw;
      position: absolute;
    }
    time {
      display:block;
      margin: 50vh calc(51vw - 5ch);
      padding:0;
      transform:translateY(-150%);
      width:10ch;
      text-align:center;
      color: #888;
      font-size:200%;
      font-family:var(--mono);
      font-style:normal;
      letter-spacing:-0.175em;
    }
  </style>
  
  <!-- insert essay/the-storm.html -->
  
  <figure id="drawing">
    <time>::</time>
  </figure>
  
  

  <script type="text/javascript">
    // <![CDATA[
  
        var fig = document.querySelector('#drawing')
        var svg = new SVG(innerWidth, innerHeight, fig);

        for (let i = 0; i < 100; i += 1) {
          svg.add('line', {
            'x1': Math.random() * svg.width + Math.cos(Math.random() * 2 * Math.PI) * 750,
            'y1': Math.random() * svg.height+ Math.cos(Math.random() * 2 * Math.PI) * 750,
            'x2': svg.width / 2 ,
            'y2': svg.height / 2
          });
        }     
    
        let lines = svg.root.querySelectorAll('line');
        let move = `${KIT.mobile ? 'touch' : 'mouse'}move`;
        let r = Math.sqrt(svg.width) * 2;
        
        addEventListener(move, function (evt) {
          let loc = svg.cursorPoint(evt);
      
          lines.forEach(function (line) {
            let x = parseFloat(line.getAttribute('x1')) - loc.x;
            let y = parseFloat(line.getAttribute('y1')) - loc.y;
            let h = Math.sqrt(x**2 + y**2);
        
            let dash = h - r + (Math.random() * 10);
            line.style.strokeOpacity = (dash < r) ? 0 : 0.025;
            line.style.strokeDasharray = dash;
            line.style.strokeWidth = (h / r * 10);
            // let m = (loc.y - y1) / (loc.x - x1);
            // let theta = evt.theta();
            // let r = 5;
            line.setAttribute('x2', loc.x);
            line.setAttribute('y2', loc.y);
          });
        });
        
        var coords = [innerWidth, innerHeight].map(x => Math.floor(x/2));
        var index = 0;
        function step() {
         
          let complete = coords.map(c => c * index);
          
          let init = {clientX: complete[0], clientY: complete[1]}
          
          window.dispatchEvent(new MouseEvent(move, init));
          
          if (index < 1) {
            window.requestAnimationFrame(step);
          }
          index+= 0.02;
        }

        // window.requestAnimationFrame(step);
        
        
        let init = {clientX: coords[0], clientY: coords[1]}
        
        var braille = [...Array(255)].map((n,i) => String.fromCodePoint(i + 0x2800));
        var fig = document.querySelector('time');
        setInterval(function() {
          fig.innerHTML = ("0".repeat(2**4) + new Date().getTime().toString(2)).slice(-48).match(/.{8}/g).map(n => braille[parseInt(n,2)]).join('')
         }, 100);

    // ]]>
  </script>
</article>