<article id="teaching">
  <header>
    <h2>Teaching</h2>
    <h4>
      <time>2015</time>
    </h4>
    <p>In the age of peak advertising, tracking, trolling and deception, where ought one pontificate re. the internet?</p>
  </header>
  <section>
    <h3>
      <strong>The Digital Information Era</strong>
    </h3>
    <p>Teaching college, I thought, was going to be an opportunity to take a completely proactive position on interactive design and development. There need not be any protracted discussions of analytics, intersticial ads or Internet Explorer. I was going to muse about <em>the potential</em> of this profound idea (the internet) and students, not yet indoctrinated by a career in corporate tomfoolery, were going to produce work that reminded me that this is a pretty great medium.</p>
    <p>This is actually what happens: I introduce myself to a room of distracted and somewhat impatient students and over the next fifteen weeks I do very little musing. I evaluate a lot of work that can best be described as a collage of google queries and questionably outdated techniques (sidebar: I think a class called <em><q>How to Google</q></em> would be extremely valuable). The realities of learning and teaching in a world of <mark>near-constant distraction,</mark> aided by fast and easy access to information, has presented unexpected challenges.</p>
    <p>Paradoxically, I understand that my career has involved working on teams designing with an unquestioned <em>goal</em> (not consequence) of producing a statistic like <q>more time on site.</q> I am seeing first-hand the industry's success by observing  young people who have been exposed to this effort for most of their lives. Much of my curriculum stresses (enforces) time management because one of the most familiar grievances I hear goes something like <q>I just do not have time left in my schedule for study.</q> I actually believe such remarks to be said in earnest, though in fact, they are patently false. More and more research (and informal class polling) shows that we spend upwards of 5&#x2013;10 hours a day on our devices <em>entertaining ourselves</em>.</p>
  </section>
  <section>
    <h3>
      <Strong>Queue Blooper Sound Effect</Strong>
    </h3>
    <p>It becomes difficult to talk about creating <em>new</em> things when a good chunk of each class is devoted to what we playfully call <a href="https://en.wikipedia.org/wiki/RTFM"><abbr title="read the fucking manual">RTFM</abbr></a> material. This can be a bit boring, for sure, but a bigger issue is that little philosophy about the medium or innovative ideas are exchanged, which means everybody loses. An instructor is not an efficient resource for research and problem solving&#x2014;there is too much to know and too little time. And from the other end, as an instructor, rehashing <q>chapter one</q> week after week is a recipe for burn out.</p>
    <p>I should point out this is not a student vs. instructor issue&#x2014;I believe it is fulfillment vs. [insert distraction]. I think that people want to gain experience, but do not yet realize that the work it takes to get there can be arduous and unappealing. To help bridge that gap, my teaching experiments have led to a merging of some sort of grade-free-alternative school (idealism) with the evaluation methods of a hard-nosed technical academy (rigor).  I have written more software to assist those outcomes than I thought I would need to as an instructor. I'll mention, <mark>software does not really solve any problems</mark> concerned with learning or teaching outcomes, but it does help me understand a student&#x2019;s process.</p>
    <hr/>
    <dl>
      <dt><span class="caps">Principle One</span> (idealism): under the guidance offered, a student will research, engage and regularly practice material that interests them.</dt>
      <dd>Guided by lengthy outlines, recorded lectures, abstract examples, and single-source research citations</dd>
      <dd>A personalized template is generated for each student, outlining skeleton projects that can simply be filled in with skills gained throughout the semester</dd>
      <dd>The overarching mantra is to provide proof that you are engaged with the material. Prove you don't understand it at all, if you must (a devious trick, I know).</dd>
      <dt><span class="caps">Principle Two</span> (rigor): principle one is mandatory</dt>
      <dd>A web crawler scans student work every night, looking for changes, errors, code quality&#x2014;essentially any metric that can shine a light on technique.</dd>
      <dd>A dashboard shows the version control metrics, revisions, and critique of that work with a real-time score for the course.</dd>
    </dl>
    <p>The machine tabulates effort and research. It can't be cajoled into forgiveness or sympathy for lapses in judgment as easily a human (me) can.  It is based on cold hard statistics accumulating week after week&#x2014;sabermetrics for study time. This instrument does not indicate work that is good or bad, but it tells you a nearly bulletproof story about if someone is doing the work it takes to be a successful student.</p>
    <figure>
      <video src="http://static.brendanmetzger.com.s3.amazonaws.com/videos/course-editor.m4v" loop="loop" controls="controls" preload="metadata">
        <p>html5 video</p>
      </video>
      <figcaption>
        <p>For years I've been working on pure markup-based template system. The video glosses over a lot but the philosophy I'd like to highlight is the technical seriousness of a markup-first system.  Templates can and must be validated as having correct syntax in order to be treated like data, and that means they can be iterated, picked apart and mutated programatically. Since my backend is still my text editor, and the templates can be compiled any which way, I can design the content uniquely by adding one-off style declarations and interactive moments without compromising <q>the framework.</q></p>
        <p>I used the progenitor of this idea on <a href="#third-coast">Third Coast</a>, which allows any content to be requested asynchronously and sliced and diced using the document object model, requiring ~15 lines of JavaScript. You can only do this because of the assurance that your markup is valid, which is why people mistakenly think <abbr title="javascript object notation">JSON</abbr> is the only way to do business. In case this isn't obvious, I'm generally confounded by the proliferation JavaScript MVC/MVP/MVVM ideas&#x2014;but I would also be confounded by coaching a runner with a lot of potential to sprint on crutches.</p>
      </figcaption>
    </figure>
  </section>
</article>